header {
  max-width: 700px;
  margin: 0 auto;
}
header .title {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 26px;
  text-align: center;
  padding: 40px;
}
header .text {
  text-align: center;
  font-size: 20px;
}
header ul {
  text-align: center;
}
header ul a {
  margin: 0 20px;
  color: #000;
}